<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.3" targetFramework="net45" />
  <package id="FluidScript" version="1.0.18" targetFramework="net45" />
  <package id="FluidScript.CoreLib" version="1.0.14" targetFramework="net45" />
  <package id="OpenDoc.Core" version="1.0.1" targetFramework="net45" />
  <package id="OpenDoc.Excel" version="1.0.1" targetFramework="net45" />
  <package id="OpenDoc.Xml" version="1.0.0" targetFramework="net45" />
</packages>